

.DS_Store
*/.DS_Store

release

# Object files
*.o

# Libraries
*.so
*.lib
*.a
*.dll
*.so.*
*.dylib


# Executables
*.exe
*.out
*.app

# Make.properties
Make.properties

# Codeblocks project files
*.layout
*.cbp

# Other files
*.png
*.dot

